/*body stling */
body {
  font-family: Arial, sans-serif;
  background: #f3f4f6;
  color: #2d2929;
  text-align: center;
  padding: 40px;
}
/* Title */
h1 {
  color: #4f46e5;
  margin-bottom: 15px;
}

p {
  margin-bottom: 25px;
  line-height: 1.5;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 6px;
  font-weight: bold;
}

input,
select {
  padding: 12px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 18px;
}

button {
  padding: 12px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #3730a3;
}
#result {
  margin-top: 20px;
  padding: 15px;
  background: #e0e7ff;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
}